    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        color: black
     }
     header
        {
            background-color: black;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        nav {
            float: left;
            width: 200px;
            background-color: white;
            padding: 20px;
            box-sizing: border-box;
        }
        nav a {
            display: block;
            color: black;
            padding: 10px 0;
            text-decoration: none;
            background-color: white;
        }
        nav a:hover {
            background-color: #bbb;
        }
        main {
            margin-left: 240px;
            padding: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        section {
            margin-bottom: 20px;
            background-color: white;
            padding: 20px;
        }
        footer {
            clear: both;
            background-color: black;
            color: white;
            text-align: center;
            padding: 15px 0;
        }